{% extends 'base.html.twig' %}

{% block body %}
    <h3>Employees list</h3>

    <table style="width: 600px;">
        <thead style="background: #fc0">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Hiredate</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="background: #ccc">
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{% if employee.hireDate %}{{ employee.hireDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ employee.age }}</td>
                <td>
                    <ul>
                        <li>
                            <p> <a href="{{ path('employee_show', { 'id': employee.id }) }}">select</a></p>
                        </li>
                        <li>
                            <p><a href="{{ path('employee_edit', { 'id': employee.id }) }}">update</a>
                        </li>
                        <li>
                            <p><a href="{{ path('employee_delete', { 'id': employee.id }) }}">delete</a>
                        </li>
                        <li>
                            <p><a href="{{ path('employee_new') }}">insert</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
